.flotar {

	float: left;
		
	
}

.pie1{

	color:green;
	float:right;
	font-size:24px;
}

.pie2{

	color:green;
	float:left;
	font-size:24px;
}


.colocar{ clear: both; }

.fotoprincipal{
	
	height:150;
	
	
}
.foto2{
	
	height:150;
	float:right;
	margin-left:30px;
	
}
.foto3{
	
	height:150;
	float:left;
	margin-right:30px;
	
}
